<div class="col-auto sidebar">
            <div class="d-flex flex-column">
              <ul class="nav flex-column mb-auto">
                <li>
                  <a href="/admin/admindashboard" class="nav-link active mb-2"
                    ><i class="bi bi-grid"></i> Dashboard</a
                  >
                </li>
                <li>
                  <a href="/admin/organizerlist" class="nav-link sidelist mb-2 fw-bold"
                    ><span class="me-1"
                      ><img src="/image/Frame.png" alt="" /></span
                    >Organizers List</a
                  >
                </li>
                <li>
                  <a href="/admin/userlists" class="nav-link sidelist mb-2"
                    ><span class="me-1"
                      ><img src="/image/Frame.png" alt="" /></span
                    >Users List</a
                  >
                </li>
                <li>
                  <a href="/admin/eventdetails" class="nav-link sidelist mb-2"
                    ><span class="me-1"
                      ><img src="/image/Group (1).png" alt=""
                    /></span>
                    Event Details</a
                  >
                </li>
                <li>
                  <a href="/admin/logout" class="nav-link sidelist fw-bold"
                    ><span class="me-1"
                      ><i
                        class="fa-solid fa-arrow-right-from-bracket"
                        style="color: #01060e"
                      ></i></span
                    >Log Out</a
                  >
                </li>
              </ul>
            </div>
          </div>
